@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: white;
    --shadow-color: #000;
    --border-color: white;

    --aux-background-color: #666;
    --aux-text-color: white;

    --input-text-color: #f0f0ff;
    --input-background-color: #44f;
    --input-border-color: #f0f0ff;

    --dice-symbol-color: #ff6;
    --dice-background-color: #33f;
    --dice-border-color: #55f;

    --button-text-color: #black;
    --button-background-color: #999;
    --button-border-color: #ccc;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --text-color: black;
    --shadow-color: #bebebe;
    --border-color: black;

    --aux-background-color: #e0e0e0;
    --aux-text-color: black;

    --input-text-color: blue;
    --input-background-color: #f0f0ff;
    --input-border-color: blue;

    --dice-symbol-color: #ff6;
    --dice-background-color: #33f;
    --dice-border-color: #66f;

    --button-text-color: #black;
    --button-background-color: #ccc;
    --button-border-color: #eee;
  }
}

html,
body {
  height: 100%;
  max-height: 100%;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
a:link,
a:visited {
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  flex: 0 0 auto;
  background-color: var(--aux-background-color);
  color: var(--aux-text-color);
  box-shadow: 0 0.5em 1em var(--shadow-color);
  padding: 0.5em;
  border-bottom-right-radius: 2em;
}

th,
td {
  padding: 0.2em 1em 0.2em 0;
  margin: 0;
}

.scenario {
  font-weight: bold;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.situation {
  flex: 0 0 auto;
  overflow: auto;
  width: 20em;
  padding: 1em 1em 1em 0;
}

.situation h1,
.situation h2,
.situation h3,
.situation h4 {
  margin-bottom: 0.25em;
}

.situation ul {
  margin-top: 0;
  padding: 0 0 0 1.5em;
}

.situtation li {
  margin: 0;
  padding: 0;
}

.situation h1:first-child,
.situation h2:first-child,
.situation h3:first-child,
.situation h4:first-child,
.situation p:first-child,
.message:first-child {
  margin-top: 0;
}

.situation p:last-child,
.situation ul:last-child,
.message:last-child {
  margin-bottom: 0;
}

.tag.inactive {
  opacity: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: start;
  text-transform: capitalize;
  width: 6em;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.story {
  flex: 0 1 auto;
  padding: 1em;
  overflow: auto;
}

.suggestions {
  margin-bottom: 0.5em;
}
.suggestions h4 {
  margin: 0;
}

.suggestion {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.suggestion button {
  flex: 0 0 auto;
  width: 3em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  appearance: none;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-radius: 0.25em;
}
.suggestion p {
  flex: 1 1 auto;
  margin: 0;
}
.suggestion.compel p {
  color: orange;
}
.suggestion.compel button {
  background-color: orange;
}

.input {
  flex: 0 0 auto;
  padding: 0.5em 1em;
}

textarea {
  appearance: none;
  font-size: 100%;
  width: 100%;
  min-height: 2.25em;
  resize: vertical;
  border: none;
}

textarea,
.message-human,
.speech {
  padding: 0.5em;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border: 1px solid var(--input-text-color);
  border-radius: 0.5em;
  box-sizing: border-box;
}

#player_input {
  display: flex;
  flex-direction: row;
}

.speech {
  appearance: none;
  background-color: var(--input-background-color);
  border: 1px solid var(--input-text-color);
  border-radius: 0.5em;
  box-sizing: border-box;
  margin-left: 0.5em;
}

.speech.listening {
  background-color: yellow;
}

.message-human > p {
  margin: 0;
}

.message-tool {
  opacity: 0.5;
}

.box {
  display: inline-block;
  height: 16px;
  border: 1px solid var(--border-color);
  margin-right: 0.25em;
  vertical-align: bottom;
}

ul.consequences {
  padding: 0;
  list-style: none;
}

.dice_roll {
  margin: 1em 0;
}

.dice_modifier {
  margin: 0.5em 1em;
}

.red_pill,
.green_pill {
  display: inline-block;
  text-align: center;
  padding: 0.2em 0.5em;
  border-radius: 0.7em;
  width: 1.5em;
}

.red_pill {
  background-color: orangered;
  color: white;
}

.green_pill {
  background-color: green;
  color: white;
}

.die {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border: 0.1em solid var(--dice-border-color);
  margin-right: 0.25em;
  padding: 0.15em 0.15em 0.2em 0.15em;
  font-weight: 900;
  border-radius: 0.25em;
  color: var(--dice-symbol-color);
  /* background-color: var(--dice-background-color); */
  background: radial-gradient(
    var(--dice-background-color),
    var(--dice-border-color)
  );
}

.dice_result .die {
  animation: pulse 2s ease-in-out alternate infinite;
  transform: rotate(-20deg);
}

@keyframes pulse {
  100% {
    transform: rotate(20deg);
  }
}

.bar {
  border-left: 1px solid var(--border-color);
}

.box {
  width: 1em;
  border-radius: 0.25em;
}

.box.filled {
  background-color: var(--button-background-color);
}

.bar .box {
  margin-right: 0;
  border-radius: 0;
  border-left-width: 0;
}

.bar .box:last-child {
  border-radius: 0;
  border-right-width: 0;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  border-right-width: 1px;
}

.message {
  margin: 1em 0;
}

.loading {
  font-style: italic;
  font-weight: bold;
  animation: colorchange 8s infinite;
  text-align: center;
  margin: 1em;
}

@keyframes colorchange {
  0% {
    color: blue;
  }
  50% {
    color: orange;
  }
  100% {
    color: blue;
  }
}

.metadata {
  font-size: 50%;
  opacity: 0.5;
}

.character,
.npc,
.clock,
.scene {
  background-color: var(--aux-background-color);
  color: var(--aux-text-color);
  box-shadow: 0.5em 0.5em 1em var(--shadow-color);

  border-radius: 1em;
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.character ul {
  margin-top: 0.5em;
}

.portrait_container {
  position: relative;
  width: calc(100% + 0.5em);
  margin: -0.25em;
}

.portrait {
  width: 100%;
}

.portrait_frame {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  top: 0px;
  bottom: 0px;
  color: transparent;
  box-shadow: inset 0 0 10px 10px var(--aux-background-color);
  font-size: 80%;
}

.portrait_description {
  flex: 1 1 auto;
}

.portrait_button {
  appearance: none;
  margin: 0.5em;
  display: none;
  border: 1px solid var(--button-background-color);
  border-radius: 1em;
}

.portrait_generating {
  margin: 0.5em;
}

.portrait_container:hover .portrait {
  visibility: hidden;
}

.portrait_container:hover .portrait_button {
  display: inline-block;
}

.portrait_container:hover .portrait_frame,
.portrait_frame.no_image {
  color: inherit;
  background-color: var(--background-color);
}

.portrait_placeholder {
  aspect-ratio: 1/1;
}
